<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/657e36df-a5b7-40b5-b890-c7f0b6062902/resourceGroups/VisaProjectRG/providers/Microsoft.ApiManagement/service/VisaOnArrivalApiapi/apis/VisaOnArrivalApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/657e36df-a5b7-40b5-b890-c7f0b6062902/resourceGroups/VisaProjectRG/providers/Microsoft.Web/sites/visaonarrival</ResourceId>
    <ResourceGroup>VisaProjectRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://visaonarrival-c6fec5dtfwb2hwcc.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5f5e3928-06ed-4484-873c-7a16a24242c6</ProjectGuid>
    <PublishUrl>https://visaonarrival-c6fec5dtfwb2hwcc.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <OpenApiGenerateDocumentsOnPublish>false</OpenApiGenerateDocumentsOnPublish>
    <OpenApiGenerateDocumentsOnBuild>false</OpenApiGenerateDocumentsOnBuild>
  </PropertyGroup>
</Project>